# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

# Ignore configuration files that may contain sensitive information
/sites/*/*settings*.php
/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/sites/*/files
/sites/*/public
/sites/*/private
/sites/*/files-public
/sites/*/files-private

# Ignore paths that may contain temporary files
/sites/*/translations
/sites/*/tmp
/sites/*/cache

# Ignore testing related files
/sites/simpletest

# Ignore drupal core (if not versioning drupal sources)
/Drupal/base_drupal/core
/Drupal/base_drupal/modules/README.txt
/Drupal/base_drupal/profiles/README.txt
/Drupal/base_drupal/sites/README.txt
/Drupal/base_drupal/sites/example.sites.php
/Drupal/base_drupal/sites/example.settings.local.php
/Drupal/base_drupal/sites/development.services.yml
/Drupal/base_drupal/themes/README.txt
/Drupal/base_drupal/vendor
/Drupal/base_drupal/.csslintrc
/Drupal/base_drupal/.editorconfig
/Drupal/base_drupal/.eslintignore
/Drupal/base_drupal/.eslintrc.json
/Drupal/base_drupal/.gitattributes
/Drupal/base_drupal/.htaccess
/Drupal/base_drupal/autoload.php
/Drupal/base_drupal/composer.json
/Drupal/base_drupal/composer.lock
/Drupal/base_drupal/example.gitignore
/Drupal/base_drupal/index.php
/Drupal/base_drupal1/LICENSE.txt
/Drupal/base_drupal/README.txt
/Drupal/base_drupal/robots.txt
/Drupal/base_drupal/update.php
/Drupal/base_drupal/web.config

# IDE temporary files
.vs/
.vscode/
.idea/