# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`
#
# follows official upstream conventions:
# https://www.drupal.org/docs/develop/using-composer

# Ignore configuration files that may contain sensitive information
/web/sites/*/*settings*.php
/web/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/Drupal/sites/*/files
/Drupal/sites/*/public
/Drupal/sites/*/private
/Drupal/sites/*/files-public
/Drupal/sites/*/files-private

# Ignore paths that may contain temporary files
/Drupal/sites/*/translations
/Drupal/sites/*/tmp
/Drupal/sites/*/cache

# Ignore drupal core (if not versioning drupal sources)
/Drupal/vendor
/Drupal/core
/Drupal/modules/README.txt
/Drupal/profiles/README.txt
/Drupal/sites/development.services.yml
/Drupal/sites/example.settings.local.php
/Drupal/sites/example.sites.php
/Drupal/sites/README.txt
/Drupal/themes/README.txt
/Drupal/.csslintrc
/Drupal/.editorconfig
/Drupal/.eslintignore
/Drupal/.eslintrc.json
/Drupal/.gitattributes
/Drupal/.htaccess
/Drupal/.ht.router.php
/Drupal/autoload.php
/Drupal/composer.json
/Drupal/composer.lock
/Drupal/example.gitignore
/Drupal/index.php
/Drupal/INSTALL.txt
/Drupal/LICENSE.txt
/Drupal/README.txt
/Drupal/robots.txt
/Drupal/update.php
/Drupal/web.config

# Ignore vendor dependencies and scripts
/Drupal/vendor
/Drupal/composer.phar
/Drupal/composer
/Drupal/robo.phar
/Drupal/robo
/Drupal/drush.phar
/Drupal/drush
/Drupal/drupal.phar
/Drupal/drupal

# IDE temporary files
.vs/
.vscode/
.idea/