header {
    text-align: center;
}

h2 {
    font-weight: bold;
}

body {
    background-color: #e6e5d5;
}

disposition_colonne {
    justify-content: center;
    margin: 10px 40px;
    display:flex ;
    flex-direction: column;
    flex-flow: row ; 
}

.bouton_bleu a {
    text-align: center;
    padding: 1.5em;
    text-decoration: none;
    font-weight: bold;
    height: 100px;
    width: 250px;
    font-weight: none;
    display: block;
    color: rgb(250, 250, 250);
    background-color: rgb(49, 111, 236);
    border: 4px solid #003392;
    border-radius: 10px 10px 10px 10px;
    transition: background .2s ease-in-out;
}

    .bouton_bleu a:hover {
      background-color: #0042bd;
    }

    .bouton_bleu {
      padding: 2%;
      margin-top: 60px; 
      justify-content: center;
      display:flex ;
    }
   
.bouton_vert {
    padding: .4em;
    height: 40px;
    width: 150px;
    font-weight: none;
    display: block;
    margin: 3% auto;
    color: rgb(250, 250, 250);
    background-color: rgb(23, 160, 25);
    border-radius: 10%;
    transition: background .2s ease-in-out;
}
    .bouton_vert:hover {
        background-color: rgb(17, 112, 18);
    }

    .bouton_vert:active {
        background-color: rgb(23, 160, 25);
        transition: background .0s ease-in-out;
    }

.titre_page {
    height: 50px;
    margin: 1%;
    width: 650px;
    text-align: center;
    text-shadow: 5%;
    color:white;
    padding-bottom: 3.5%;
    background-color: rgb(228, 202, 117);
    border: 0.05em solid rgb(226, 156, 43);
    border-radius: .15em;
}

liste_acti_im {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    margin: 0 20% 0 20%;
    height: 25em;
}