{% for key, setting in ebt_settings %}
  {% if setting is iterable %}
    {% for child_key, child_setting in setting %}
      {% if child_setting is not iterable %}
        <div>{{ child_key }}: {{ child_setting }}</div>
      {% endif %}
    {% endfor %}
  {% else %}
    <div>{{ key }}: {{ setting }}</div>
  {% endif %}
{% endfor %}
